.vs/CitasMedicas.slnx/FileContentIndex/0db23200-9064-49bd-a917-60d67c98ae26.vsidx
.vs/CitasMedicas.slnx/FileContentIndex/11b0c507-4aff-409d-89e7-c34761de1b2d.vsidx
.vs/CitasMedicas.slnx/FileContentIndex/37b11822-be93-4080-afd6-3e572db8e92c.vsidx
.vs/CitasMedicas.slnx/FileContentIndex/8e7ff324-4337-4f2d-ac93-c93eb4c7e8df.vsidx
.vs/CitasMedicas.slnx/FileContentIndex/ccf23571-156d-4984-bec9-24781efd8c0f.vsidx
.vs/CitasMedicas.slnx/v18/.suo
.vs/CitasMedicas.slnx/v18/DocumentLayout.backup.json
.vs/CitasMedicas.slnx/v18/DocumentLayout.json
.vs/CitasMedicas.slnx/FileContentIndex/de25d1ad-1b4f-44bc-b8af-a7ae42e28076.vsidx
